@{
    ViewData["Title"] = "Home Page";
}
@section PageInfo
    {
    <div class="Section PageInfo">Page Info</div>
}

@section BreadAndMenu
    {
    <div class="Section BreadAndMenu">BreadAndMenu</div>
}

<div class="Section Content">
    <div class="Panel x1">
        <div class="Panel-Header">
            <div class="Panel-Header-Left">
                Panel header
            </div>
            <div class="Panel-Header-Right">
                <div class="dropdown">
                    <i class="fa fa-gear dropbtn" onclick="myFunction()" aria-hidden="true"></i>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Panel-Body">
            <form action="#">
                <div class="LabelControlDuo">
                    <div class="label">First:</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="fname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Last name ds fdsa  :</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="lname"></div>
                </div>
                <hr>
                <div class="LabelControlDuo">
                    <div class="label">
                        <p>Please select your preferred contact method:</p>
                    </div>
                    <div class="control">
                        <div>
                            <input type="radio" id="contactChoice1" name="contact" value="email">
                            <label for="contactChoice1">Email</label><br />

                            <input type="radio" id="contactChoice2" name="contact" value="phone">
                            <label for="contactChoice2">Phone</label><br />

                            <input type="radio" id="contactChoice3" name="contact" value="mail">
                            <label for="contactChoice3">Mail</label><br />
                        </div>
                    </div>
                </div>
                <hr>
                <div class="LabelControlDuo">
                    <div class="label">Co mas:</div>
                    <div class="control">
                        <form action="#" method="get">
                            <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
                            <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
                        </form>
                    </div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Datum:</div>
                    <div class="control">
                        <input type="text" id="datepicker">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="Panel x1">
        <div class="Panel-Header">
            <div class="Panel-Header-Left">
                Panel header
            </div>
            <div class="Panel-Header-Right">
                <!--                            <label id="PanelRightMenu">&#9776</label>-->
                @*<i class="fa fa-gear" aria-hidden="true"></i>*@
                <b>&#x263C;</b>
            </div>
        </div>
        <div class="Panel-Body">
            <form action="#">
                <div class="LabelControlDuo">
                    <div class="label">First:</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="fname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Last name ds fdsa  :</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="lname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">First:</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="fname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Last name ds fd afdasd :</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="lname"></div>
                </div>
                <hr>
                <div class="LabelControlDuo">
                    <div class="label">First:</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="fname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Last name d afdasd :</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="lname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">First:</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="fname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Last name d afdasd :</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="lname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">First:</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="fname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div class="label">Last name d afdasd :</div>
                    <div class="control"><input type="text" class="CustomTextBox" name="lname"></div>
                </div>
                <div class="LabelControlDuo">
                    <div>
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="Panel x1">
        <br />
        Content 3
        <br />
    </div>
    <div class="Panel x1">
        <br />
        Content 4
        <br />
    </div>
    <div class="Panel x1">
        <br />
        Content 5
        <br />
    </div>
    <div class="Panel x1">
        <br />
        Content 6
        <br />
    </div>
</div>

<script type="text/javascript">
    // Close the dropdown if the user clicks outside of it
    /*Z nejakeho duvodu to funguje pouze kdyz je to tady a ne v site.js.*/
    document.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>