@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@model PDMSCore.BusinessObjects.Project


<div id="details">
    <hr />
    <h4>Partial view</h4>
    <hr />

</div>