@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PDMSCore.DataManipulation.DataGridField2

<span>DataGridPartialView</span>
<div id="DataGridPlaceHolder">

    <span>DataGridPlaceHolder</span>

    @Model.HtmlText()
</div>


<script>

    $(document).ready(function () {

        


    });

function OpenModal(DataGridID, returnFieldID) {

    $.ajax({
        url: "/DataGrid/DataGridPartialView/",
        type: "GET",
        data: { aa: "aa-test" },
        success: function (partialViewResult) {
            if (partialViewResult.length > 0) {
                $("#" + dialogID).html(partialViewResult);
            }
        },
        error: function (result) {
            $("#" + dialogID).html("<span>Ajax failed...</span>");
        }
    });
};

</script>