
@model PDMSCore.BusinessObjects.Project

@using PDMSCore.HtmlHelpers
@{
    ViewBag.Title = "Index";
}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="Section Content">
    @for (int i = 0; i < Model.ToShow.Count; i++)
    {
        <div class="Panel @Model.ToShow[i].Size">
            <div class="Panel-Header">
                <div class="Panel-Header-Left">
                    @Model.ToShow[i].Label
                </div>
                <div class="Panel-Header-Right">
                    <div class="dropdown">
                        <i class="fa fa-gear dropbtn" onclick="myFunction()" aria-hidden="true"></i>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Link 1-</a>
                            <a href="#">Link 2-</a>
                            <a href="#">Link 3-</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Panel-Body">
                <form method="post">
                    <input name="PanelId" hidden type="text" value="@Model.ToShow[i].id " />
                    @for (int f = 0; f < Model.ToShow[i].Content.Count; f++)
                    {
                        @MSHelpers.Field(Model.ToShow[i].Content[f]);
                    }
                    <input type="submit">
                </form>
            </div>
        </div>
        <div>
            <form method="post">
                <input class="AutoComplete" type="text" id="id1" name="jmeno1" placeholder="ph1" label="MujLabel1" />
                <input class="AutoComplete" type="text" id="id2" name="jmeno2" placeholder="ph2" label="MujLabel2" />
                <input class="AutoComplete" type="text" id="id3" name="jmeno3" placeholder="ph3" label="MujLabel3" />
                <input type="submit">
            </form>
            
        </div>
        @*<input type="checkbox" id="checkbox" />
            <input type="number" id="number" />
            <button onclick="submit()">Post with jQuery AJAX</button>*@


    }
</div>

<script type="text/javascript">
    // Close the dropdown if the user clicks outside of it
    /*Z nejakeho duvodu to funguje pouze kdyz je to tady a ne v site.js.*/
    document.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    $(document).ready(function () {
        $(".AutoComplete").autocomplete({
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: "/Project/Ajax/",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term, id: $(this.element).prop("id") },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ID, value: item.Value};
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })

    
</script>