
.LabelControlDuo
{
    padding: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.LabelField, .BoldLabelField {
    color: black;
    text-align: right;
    font-size: 75%;
    width: 300px;
}
.BoldLabelField {
    font-weight: bold;
    margin-right: 10px;
}

.TextAreaField {
    /* width: 100%; */
    /* margin-left: 10px; */
}

/* .GroupOfCheckBoxes, .GroupOfRadioButtons, .DropDownOptions { */
.GroupOfCheckBoxes, .GroupOfRadioButtons {
    width: 100%;
    display: block;
}

/*.CustomTextBox, .CustomDatePicker {*/
.ControlOfLabelControlDuo {
    width: 100%;
    margin-right: 10px;
    /* margin-left: 10px; */
    /*border:1px solid #d1c7ac;*/
    /*TODO: Pozdeji dat do specialni class a tu priradit textarea.*/
    resize: vertical;
}

.HeaderSrchCl {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border-spacing: 0px;
    text-align: center;
}

/*HeaderSearch input {
    width: 100%;
}*/

.TableTextBoxData {
    border: none;
    /*background-color: red;*/
    width: 100%;
    height: 100%;
    /*padding-left: 3px;*/
    padding-top: 0px;
    padding-bottom: 0px;
}

.TableTextBoxHeader {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
} 


/*************Grid table************/

.GridTable {
    background: none;
    font-family: Tahoma, Geneva, sans-serif;
    --InnerBorderColor: rgb(212, 212, 212);
    --ExternalBorderColor: grey;
    --HeaderBottomBorderColor: black;
    --CellTopBottomPadding: 3px;
    --CellRightLeftPadding: 5px;
    --BorderRadius: 3px;

    --SelectedRowColor: rgb(121, 189, 255);

    width: 100%;
    

    /* outline: 1px solid red;
    outline-offset: -2px; */

    /* border: 1px solid var(--ExternalBorderColor);
    border-radius: var(--BorderRadius);
    border-collapse: separate; */
    /*musi byt kvuli radiusu*/
    border-spacing: 0;

    /*musi byt kvuli collapse*/
    font-size: 0.9em;

    /* height: 100px; */
    overflow-x: hidden;
    overflow-y: scroll;

    table-layout: fixed;
}

/* Zkusit TODO: http://jsfiddle.net/daCrosby/JXWfC/9/ */

/* table.GridTable thead,
table.GridTable tbody { 
    display: block; 
} */

table.GridTable tbody {
    /* height: 100px; */
    overflow-x: hidden;
    overflow-y: auto;
}

table.GridTable thead tr th,
table.GridTable tbody tr td{
    min-width:50px;
}


.tbl-content{
    height: 150px;
    overflow-x:hidden;
    overflow-y: scroll;
    
    /* margin-top: 0px; */
    /* border: 1px solid rgba(255,255,255,0.3); */

    outline: 1px solid lightgray;

    /* outline-offset: -1px; */
}

.TableWrapper{
    /* border: 2px solid var(--ExternalBorderColor); */
    /* border-bottom: 1px solid grey;
    border-left: 1px solid grey; */
    margin-right:10px;
}

/* #GridTableWrapper{
    position:relative;
  }

#GridTableScroll{
    height:7em;
    overflow:auto;  
    margin-top:50px;
} 

#GridTableWrapper table thead th .HeadCell {
    position:absolute;   
    top:-50px;
    z-index:2;
    height:20px;
    width:35%;
}   */



th {
    border-right: 1px solid var(--InnerBorderColor);
    border-bottom: 1px solid var(--HeaderBottomBorderColor);
}

td {
    border-bottom: 1px solid var(--InnerBorderColor);
    border-right: 1px solid var(--InnerBorderColor);

    padding-top: var(--CellTopBottomPadding);
    padding-bottom: var(--CellTopBottomPadding);
}

td:last-child,
th:last-child {
    /* To aby zmizel pravy okraj posledniho sloupc. */
    border-right: 0;
}

tr:last-child td {
    /* border-bottom: 0; */
}

th {
    background: rgb(63, 182, 255);
    color: white;
    font-weight: 900;
}



.GridTable tr:hover {
    background-color: #d8d8d8;
}

.GridTable tr.SingleSelected {
    background-color: var(--SelectedRowColor);
}

tr:nth-child(even) {
    background: rgb(245, 245, 245);
}

tr:nth-child(odd) {
    background: #FFF;
}

th:first-child {
    border-radius: var(--BorderRadius) 0 0 0;
}

th:last-child {
    border-radius: 0 var(--BorderRadius) 0 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 var(--BorderRadius);
}

tr:last-child td:last-child {
    border-radius: 0 0 var(--BorderRadius) 0;
}



/* 	HeaderCell {
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 100px;
    padding-bottom: 2px;
    text-align: left;
    color: black;
} */

HeaderSearch input {
    width: 100%;
}

.Cell {
    padding-right: var(--CellRightLeftPadding);
    padding-left: var(--CellRightLeftPadding);
    background-color: inherit;
}

.HeadCell {
    padding-left: var(--CellRightLeftPadding);
    padding-right: var(--CellRightLeftPadding);
    padding-top: var(--CellTopBottomPadding);
    padding-bottom: var(--CellTopBottomPadding);
    text-align: left;
    color: black;
}

.tbDataGrid {
    border: 0px solid #000000;
    width: 100%;
}

.DGCellTB {
    border-style: none;
    background-color: red;
    background-color: inherit;

    /*width: 50px;*/
    width: 100%;
}

/***********************************/

/*TODO:
https://codepen.io/chriscoyier/pen/IgEiz

*/
